* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1194px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.search-form {
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}

.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.search-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 18px;
    padding-left: 18px;
    cursor: pointer;
}

.auth {
    margin-left: auto;
}

.login {
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.shopping-cart {
    position: relative;
    width: 50px;
    height: 54px;
    text-decoration: none;
    border-radius: 50%;
    background-color: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.shoping-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFAF19;
    color: #000000;
    font-size: 8px;
    line-height: 9px;
    border-radius: 50%;
    display: block;
    padding: 5px;
}

/* slider */

.swiper {
    position: relative;
}

.slide {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
}

.slide-content {
    max-width: 400px;
    position: relative;
}

.slide-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}

.slide-text {
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
}

.button-primary {
    background: #F47322;
    color: #ffffff;
}

.button-default {
    background-color: #ffffff;
    color: #5F5F61;
}

.button {
    border-radius: 25px;
    padding: 11px 50px;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.slide-text-light {
    background-color: grey;
    color: #ffffff;
}

.slide-summer {
    background-image: url(../images/summer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-аutumn {
    background-image: url(../images/autumn.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-vitamine {
    background-image: url(../images/vitamine.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

/* end slider */

/* slider-buttons */

.slider-buttons {
    position: absolute;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 46px;
    right: 40px;
    z-index: 9;
}

.slider-button {
    cursor: pointer;
}
/* end slider-buttons */

/* start promo */
.promo {
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: -20px;
}

.card {
    flex: 50%;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    max-width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text-light {
    color: #ffffff;
}

.card::before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 100%);
}

.card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}

.card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 200px;
}

.card-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    display: block;
    margin-bottom: 8px;
}

.card-delivery {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    display: block;
    margin-bottom: 25px;
}

/* .sweet-basket {
    background: url(../images/sweet-basket.png) no-repeat center /cover;
} */

.card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}
/* end promo */

/* start section delivery-week */

.delivery-week {
    padding: 100px 0;
}

.section-delivery-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 47px;
}

.delivery-cards {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: -15px;
}

.delivery-card {
    width: 275px;
    height: 182px;
    margin: 15px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

.delivery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delivery-tag {
    position: absolute;
    top: 16px;
    left: 10px;
    border-radius: 30px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
}

.tag-health {
    background: #D0FD89;
}

.tag-vegetable {
    background: #AEBC41;
}

.tag-meat {
    background: #B86B78;
}

.tag-bird {
    background: #D68334;
}

.tag-fish {
    background: #CD6255;
}

.tag-kids {
    background: #FFFDBF;
}

.tag-parent {
    background: #F6FDC8;
}

.tag-holiday {
    background: #FEF7FE;
}

/* end section delivery-week */

/* start section-grey */

.section-grey {
    background: #F6F6F6;
}

.section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
}

.category {
    padding-top: 40px;
    padding-bottom: 60px;
}

.tabs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 62px;
}

.tabs-link {
    text-decoration: none;
    margin-right: 58px;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
}

.tabs-link-active {
    color: #F37321;
}

.tabs-content {
    display: flex;
    margin: -15px;
}

.tabs-card {
    margin: 15px;
    max-width: 270px;
    height: 471px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
}

.tabs-image {
    max-width: 100%;
    object-fit: cover;
}

.tabs-title {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.tabs-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
}

.tabs-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs-price {
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    display: block;
    margin-bottom: 5px;
}

.tabs-weight {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}

.tabs-card-content {
    padding: 23px;
}

.button-outline {
    cursor: pointer;
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid #F37321;
    box-sizing: border-box;
    border-radius: 33px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F37321;
}

.button-outline:hover {
    background-color: #ffa871;
    border: none;
    color: #ffffff;
}

.button-center {
    display: block;
    margin:auto;
    margin-top: 60px;
    width: 315px;
}

/* end section-grey */

/* start section advantage */

.advantages {
    padding-top: 100px;
    padding-bottom: 202px;

}

.title-advantage {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-bottom: 52px;
}

.cards-advantages {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: -15px;
}

.card-advantage {
    margin: 15px;
    max-width: 270px;
    max-height: 296px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.advantage-image {
    padding: 30px 105px;
}

.advantage-card-content {
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}

.card-advantage-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.card-advantage-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #49494F;
}



/* end section advantage */

/* start footer */

.footer {
    padding: 40px 0;
    background: #F6F6F6;
}

.footer-wrapper {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 50px;
}

.footer-link {
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #000000;
    margin-right: 50px;
}

.social-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.social-link {
    margin-left: 20px;
    text-decoration: none;
}
/* end footer */

@media (max-width: 1260px) {
    .container {
        max-width: 960px;
    }

    .search-form {
        margin-left: 40px;
        margin-right: 40px;
    }

    .tabs-content {
        flex-wrap: wrap;
    }

    .tabs-card {
        flex: 50%;
        max-width: calc(50% - 30px);
        height: 100%;
    }
    .cards-advantages{
        justify-content: space-around;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 760px;
    }
    .slide {
        padding: 70px;
    }
    .delivery-card {
        width: calc(50% - 30px);
    }
    .cards-advantages{
        justify-content: space-around;
    }
    .card-advantage {
        width: calc(50% - 30px);
    }
    .footer-logo {
        margin-right: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 560px;
    }
    .header {
        flex-wrap: wrap;
    }
    .search-form {
        order: 5;
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .promo {
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }
    .tabs-card {
        max-width: 100%;
    }
    .card-advantage {
        width: 100%;
    }
    .footer-logo {
        width: 102px;
    }
}